# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/FRONT/dist
/FRONT/dist-server
/FRONT/tmp
/FRONT/out-tsc

/PWA/platforms
# dependencies
/node_modules
/FRONT/node_modules
/PWA/node_modules
# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings
.package-lock.json
/FRONT/package-lock.json
/PWA/package-lock.json
# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db